.csrActivitySlide {
  overflow: visible;
}
.csrActivitySlide .swiper-pagination {
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 15px);
  text-align: right;
}

/* BANNER_SLIDER */
.heroSlide {
  --swiper-pagination-bottom: 40px;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

.heroSlide .swiper-pagination {
  text-align: start !important;
  max-width: var(--container-x);
  padding-left: var(--container-padding, 1rem);
  padding-right: var(--container-padding, 1rem);
  left: 0;
  right: 0;
  margin: auto;
}

.heroSlide
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  outline: 3px solid #ee3824;
}

.lifeSlide {
  --swiper-pagination-bottom: 20px;
  --swiper-pagination-color: #17479e;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #d9d9d9;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 10px;
}

.lifeSlide .swiper-pagination {
  text-align: start !important;
  padding-left: 15px;
  padding-right: 15px;
  left: 0;
  right: 0;
  margin: auto;
}

.lifeSlide .swiper-slide {
  height: auto !important;
}

.lifeSlide
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  outline: 1px solid #17479e;
}
