.text-footer1 {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: #000;
}

.text-footer2 {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1024px) {
  .text-footer1 {
    font-size: 16px;
  }

  .text-footer2 {
    font-size: 12px;
  }
}

@media (min-width: 1536px) {
  .text-footer1 {
    font-size: 18px;
  }

  .text-footer2 {
    font-size: 14px;
  }
}

@media (min-width: 1920px) {
  .text-footer1 {
    font-size: 22px;
  }

  .text-footer2 {
    font-size: 16px;
  }
}
